<img align="left" src="https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/CC_BY.png"><br />

Created by [Nathan Kelber](http://nkelber.com) and Zhuo Chen under [Creative Commons CC BY License](https://creativecommons.org/licenses/by/4.0/)<br />
For questions/comments/improvements, email nathan.kelber@ithaka.org or zhuo.chen@ithaka.org.<br />
___

# Python Intermediate 1

**Description:** This notebook describes:

* What a list comprehension is
* What a dictionary comprehension is
* What a set comprehension is

**Use Case:** For Learners (Detailed explanation, not ideal for researchers)

**Difficulty:** Intermediate

**Completion Time:** 90 minutes

**Knowledge Required:** 
* Python Basics Series ([Start Python Basics 1](../Python-basics/python-basics-1.ipynb))

**Knowledge Recommended:** None

**Data Format:** None

**Libraries Used:** NLTK

**Research Pipeline:** None
___

## What is a Python Comprehension?
Comprehensions in Python are constructs that allow us to build new sequences (such as lists, sets, dictionaries etc.) from sequences that are already defined. Python supports four types of comprehensions:
* List comprehensions
* Dictionary comprehensions
* Set comprehensions
* Generator comprehensions (to be presented in [Python intermediate 5](./python-intermediate-5.ipynb))

## List comprehensions
### List comprehensions (Integers)

Suppose you are a parent of a 4-month-old. You are taking record of your baby's daily milk intake in ounces. Here is your record from last week.

In [2]:
# record of daily milk intake
milk = [24, 38, 40, 36, 42, 38, 36]

Your partner is French and is used to the metric system. Your partner wants to convert the numbers into mililiters. 

1 ounce $\approx$ 30 mililiters

|Operator| Operation| Example | Evaluation |
|---|----|---|---|
|*| Multiplication | 7 * 8 | 56 |

In [3]:
# Create a new list using a for loop

new_list = [] # An empty list we will add to

for number in milk: #a for loop to iterate through every element of the list
    new_list.append(number * 30)  #it appends to the new list each element multiplied by 30

print(new_list)

[720, 1140, 1200, 1080, 1260, 1140, 1080]

Take a look again at the for loop.
```
for number in milk:
    new_list.append(number * 30)
```

We can read this as: for ```number``` in ```milk```, append `number` multiplied by 30 to ```new_list```.

Using a for loop to create a new list is familar to us. We have learned it in the Python Basics series.

Alternatively, we can also use a list comprehension to create a new list. Let's rearrange the above for loop slightly to write a list comprehension.

In [4]:
# Create a new list of milk intake in mililiters

new_list = [number * 30 for number in milk] ## The brackets [] indicate we are creating a list

print(new_list)

[720, 1140, 1200, 1080, 1260, 1140, 1080]

We read this as: append ```number``` multiplied by 30, for ```number``` in ```milk```.

If the order of the comprehension is confusing, it may help to skip the part before the for loop and start with:
`for number in milk` then return to the beginning of the comprehension to see what will be appended: `number` * 30.

Up to this point, we have used two different ways to create a new list based on an old list: 
* using a regular for loop
* using a list comprehension

I put them here side by side. The benefit of using a list comprehension is obvious. The syntax of a list comprehension is concise and short.

<img align="left" src="https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/PythonIntermediate1_forloop.png" width="30%"/>
<img align="right" src="https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/PythonIntermediate1_listcomprehension.png" width="40%"/>

#### Add a Filtering Condition to Select Items to be Appended

If we wanted, we could also add a filtering condition to the for loop.

Suppose the daily intake of milk for a 4-month-old as recommended by the AAP is 25 ounces at minimum.

In [6]:
# Create a list of the intake numbers that fall short of the recommended minimum quantity

new_list = [number for number in milk if number < 25]
print(new_list)

[24]

In [7]:
# Use len () to get how many days the newborn had less than the recommended minimum quantity

len(new_list)

1

In [8]:
# Write the list comprehension back to a for loop

new_list = [] 
for number in milk:
    if number < 25:
        new_list.append(number)
        
print(len(new_list))

1

#### List Comprehensions constructed from other iterables

List comprehensions are used to create a list. We have seen examples where we use list comprehensions to create a new list based on an old list. Actually, list comprehensions can be used to create new lists based on **any kind of iterables**. 

In Python, iterables are the objects whose members can be iterated over in a for loop. Objects like lists, tuples, sets, dictionaries, strings, etc. are called iterables.

Suppose you are practicing your basketball shooting skills.

In [10]:
shots = '10010' #this is a string

new_list = []
for char in shots:
    new_list.append(int(char))

print(new_list)

[1, 0, 0, 1, 0]

In [11]:
# Create a new list containing your basketball shooting results 

shots = '10010' #this is a string

new_list = [int(char) for char in shots] ## string is an iterable

print(new_list)

[1, 0, 0, 1, 0]

In [10]:
# Use sum() to get how many times you have scored

sum(new_list)

2

Integers, however, are not iterable.

In [12]:
# Creating a new list based on an object that is not an iterable
# results in an error 

num = 12345

digits = [digit for digit in num if digit > 3] ## integer is not an iterable

TypeError: 'int' object is not iterable

<h3 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h3>

In [13]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Create a list ```odd_num``` which contains all the odd numbers from the list ```numbers```. To find odd numbers, you can use the modulus `%` to see if there is a remainder of 1 after dividing a number by 2. If there is a remainder of 1, the number is odd.

| Operator | Operation| Example | Evaluation |
|---|---|---|---|
|%| Modulus | 5 % 2 | 1 |

In [12]:
5 % 2

1

In [14]:
odd_numbers = []
for number in numbers:
    if number % 2 == 1:
        odd_numbers.append(number)
print(odd_numbers)

[1, 3, 5, 7, 9]

In [16]:
odd_numbers = [number for number in numbers if number % 2 == 1] 
print(odd_numbers)

[1, 3, 5, 7, 9]

See if you can write a list comprehension that creates a new list `odd_num` which only contains the odd numbers from `numbers`. The next code cell demonstrates how it could be done with a for loop.

In [6]:
# Creating a new list odd_num of numbers
odd_num = [] 
for i in numbers:
    if i % 2 == 1:
        odd_num.append(i) 

print(odd_num)

[1, 3, 5, 7, 9]

In [19]:
# write a list comprehension to create a list of odd numbers
odd_num = [i for i in numbers if i % 2 == 1]
print(odd_num)

[1, 3, 5, 7, 9]

<!-- Here's an example that changes what will be appended. -->
<!-- Again, if you find the order confusing, it may help to skip ahead to the `for`. You can also optionally include a parentheses that may help clarify which part will be appended: -->
<!-- # Create a new list where each number is doubled

new_list = [item * 2 for item in numbers]
print(new_list) -->
<!-- # # Create a new list where each number is doubled
# # Parentheses for clarity

# new_list = [(item * 2) for item in numbers]
# print(new_list) -->

### List Comprehensions (Strings)

A list comprehension also works on a list containing other data types, such as strings.

In [17]:
# Create a list of people

people = ['Aaron Aston',
         'Brianna Barton',
         'Carla Cameron',
         'Delia Darcy',
         'Evelyn Elgin',
         'Frederick Federov',
         'Gaston Garbo']

In [21]:
#MY CODE
first_names = []
for full_name in people:
    first_name = full_name.split()[0] #we create the new variable first_name and, through the split method, we assign the first element of the full_name list that we are previously created
    first_names.append(first_name)
print(first_names)

['Aaron', 'Brianna', 'Carla', 'Delia', 'Evelyn', 'Frederick', 'Gaston']

In [26]:
#MY CODE

first_names = [full_name.split()[0] for full_name in people]
print(first_names)

['Aaron', 'Brianna', 'Carla', 'Delia', 'Evelyn', 'Frederick', 'Gaston']

Suppose you want to create a new list that only contains the first names.

In [14]:
# Create a new list that only includes first names
# Using a for loop

friends = [] 

for name in people:
    first_name = name.split()[0] # Split the name on whitespace, then grab the first name/item
    friends.append(first_name)
    
print(friends)

['Aaron', 'Brianna', 'Carla', 'Delia', 'Evelyn', 'Frederick', 'Gaston']

In this example, we split each name string on whitespace using the `.split()` method. This creates a list of strings from a string.

In [22]:
# Split a string on white space

"John Doe".split()

['John', 'Doe']

In [15]:
# Split a string on white space
# Then return only the first item in the list

"John Doe".split()[0]

'John'

<h4 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h4>

Use a list comprehension to create a list called `friends` that contains only first names.

In [26]:
# Create a new list that only includes first names
# Using a list comprehension
friends = [name.split()[0] for name in people]
print(friends)

['Aaron', 'Brianna', 'Carla', 'Delia', 'Evelyn', 'Frederick', 'Gaston']

### List Comprehensions (Multiple Lists)

We can also create a list comprehension that pulls from multiple lists by using two for loops within a single list comprehension.

Scenario: Suppose you are running a restaurant. For the lunch special, you provide different varieties of rice and different protein choices that go with the rice.

In [27]:
# Define two lists: rices and proteins

rices = ["white rice", "brown rice", "yellow rice"]

proteins = ["beef", "pork", "chicken", "shrimp", "lamb", "tofu"]

In [28]:
# A Nested For Loop Example
all_lunch_special_choices = []

#we want to create a list with all the different choices composed of each type of rices with each type of protein

for rice_choice in rices: #iterates through each type of rice
    for protein_choice in proteins: #iterates through each type of protein
        all_lunch_special_choices.append(rice_choice + " with " + protein_choice)

from pprint import pprint 
pprint(all_lunch_special_choices) # use pprint to print the output in a pretty format

['white rice with beef',
 'white rice with pork',
 'white rice with chicken',
 'white rice with shrimp',
 'white rice with lamb',
 'white rice with tofu',
 'brown rice with beef',
 'brown rice with pork',
 'brown rice with chicken',
 'brown rice with shrimp',
 'brown rice with lamb',
 'brown rice with tofu',
 'yellow rice with beef',
 'yellow rice with pork',
 'yellow rice with chicken',
 'yellow rice with shrimp',
 'yellow rice with lamb',
 'yellow rice with tofu']

In [19]:
# Using a list comprehension on two lists
# Create a list of all possible combinations of rice and protein

all_lunch_special_choices = [rice_choice + " with " + protein_choice for rice_choice in rices for protein_choice in proteins]

pprint(all_lunch_special_choices)

['white rice with beef',
 'white rice with pork',
 'white rice with chicken',
 'white rice with shrimp',
 'white rice with lamb',
 'white rice with tofu',
 'brown rice with beef',
 'brown rice with pork',
 'brown rice with chicken',
 'brown rice with shrimp',
 'brown rice with lamb',
 'brown rice with tofu',
 'yellow rice with beef',
 'yellow rice with pork',
 'yellow rice with chicken',
 'yellow rice with shrimp',
 'yellow rice with lamb',
 'yellow rice with tofu']

The two lists we pull from are independent of each other. You can see that even if we switch the two for loops, the result is still a valid list comprehension.

In [29]:
# Using a list comprehension on two lists
# Create a list of all possible combinations of protein and rice

all_lunch_special_choices = [rice_choice + " with " + protein_choice for protein_choice in proteins for rice_choice in rices]

pprint(all_lunch_special_choices)

['white rice with beef',
 'brown rice with beef',
 'yellow rice with beef',
 'white rice with pork',
 'brown rice with pork',
 'yellow rice with pork',
 'white rice with chicken',
 'brown rice with chicken',
 'yellow rice with chicken',
 'white rice with shrimp',
 'brown rice with shrimp',
 'yellow rice with shrimp',
 'white rice with lamb',
 'brown rice with lamb',
 'yellow rice with lamb',
 'white rice with tofu',
 'brown rice with tofu',
 'yellow rice with tofu']

What if the lists we pull from are not independent of one another? What if one is nested in another? Can we switch the two for loops?

In [21]:
# Create a list of all names from nested lists

names = [
    ['Abby', 'Bella', 'Cecilia'],
    ['Alex', 'Beatrice', 'Cynthia', 'David']
]

all_names = [name for sub_list in names for name in sub_list]
print(all_names)

['Abby', 'Bella', 'Cecilia', 'Alex', 'Beatrice', 'Cynthia', 'David']

In [22]:
# Switch the two for loops and see what happens 

names = [
    ['Abby', 'Bella','Cecilia'],
    ['Alex','Beatrice','Cynthia','David']
]

all_names = [name for name in sub_list for sub_list in names]
print(all_names)

NameError: name 'sub_list' is not defined

In [24]:
# Convert the list comprehension back to a for loop to get a clearer view

names = [
    ['Abby', 'Bella','Cecilia'],
    ['Alex','Beatrice','Cynthia','David']
]

all_names = []
for name in sub_list:
    for sub_list in names:
        all_names.append(name)

NameError: name 'sub_list' is not defined

<h4 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h4>

Process the `names` list using a for loop, and store the names that start with the letter 'A' in a new list ```a_name```.

Then do the same thing using a list comprehension.

In [33]:
# Create a list that only contains the names that start with the letter 'A'
# Using a for loop
names = [
    ['Abby', 'Bella','Cecilia'],
    ['Alex','Beatrice','Cynthia','David']
]
a_names = []
for sub_list in names:
    for kid in sub_list:
        if kid[0] == "A":
            a_names.append(kid)
            
print(a_names)
    
#you can even use name.startwith("A"). this is a little bit more malluable as you can check in one go if it starts with AB

['Abby', 'Alex']

In [43]:
# Create a list that only contains the names that start with the letter 'A'
# Using a list comprehension
a_names = [name for sub_list in names for name in sub_list if name[0] == "A"]
print(a_names)

['Abby', 'Alex']

In [34]:
a_names =[]
for sub_list in names:
    for kid in sub_list:
        if kid[0] == "A":
            a_names.append(kid)
print(a_names)

['Abby', 'Alex']

In [37]:
a_names = [kid for sub_list in names for kid in sub_list if kid[0] == "A"]
print(a_names)

['Abby', 'Alex']

## Dictionary Comprehension
The form of a dictionary comprehension is the same as for a list. Since a dictionary comprehension may deal with keys, values, or both, we need to be prepared to use `.keys()`, `.values()`, or `.items()` (for both).

In [2]:
# Create a dictionary of contacts and occupations

contacts = {
 'Amanda Bennett': 'Engineer, electrical',
 'Bryan Miller': 'Radiation protection practitioner',
 'Christopher Garrison': 'Planning and development surveyor',
 'Debra Allen': 'Intelligence analyst',
 'Donna Decker': 'Architect',
 'Heather Bullock': 'Media planner',
 'Jason Brown': 'Energy manager',
 'Jason Soto': 'Lighting technician, broadcasting/film/video',
 'Marissa Munoz': 'Further education lecturer',
 'Matthew Mccall': 'Chief Technology Officer',
 'Michael Norman': 'Translator',
 'Nicole Leblanc': 'Financial controller',
 'Noah Delgado': 'Engineer, civil',
 'Rachel Charles': 'Physicist, medical',
 'Stephanie Petty': 'Architect'}

When we loop over a dictionary, we will only loop over the keys of the dictionary.

In [3]:
# Looping over a dictionary only loops the keys
for ele in contacts:
    print(ele)

Amanda Bennett
Bryan Miller
Christopher Garrison
Debra Allen
Donna Decker
Heather Bullock
Jason Brown
Jason Soto
Marissa Munoz
Matthew Mccall
Michael Norman
Nicole Leblanc
Noah Delgado
Rachel Charles
Stephanie Petty

In [4]:
# Looping over a dictionary by specifying .keys()
for key in contacts.keys():
    print(key)

Amanda Bennett
Bryan Miller
Christopher Garrison
Debra Allen
Donna Decker
Heather Bullock
Jason Brown
Jason Soto
Marissa Munoz
Matthew Mccall
Michael Norman
Nicole Leblanc
Noah Delgado
Rachel Charles
Stephanie Petty

To loop over both the keys and the values, we will need to use ```dict.items()```.

In [5]:
# Looping over a dictionary by specifying .items()
for item in contacts.items():
    print(item)

('Amanda Bennett', 'Engineer, electrical')
('Bryan Miller', 'Radiation protection practitioner')
('Christopher Garrison', 'Planning and development surveyor')
('Debra Allen', 'Intelligence analyst')
('Donna Decker', 'Architect')
('Heather Bullock', 'Media planner')
('Jason Brown', 'Energy manager')
('Jason Soto', 'Lighting technician, broadcasting/film/video')
('Marissa Munoz', 'Further education lecturer')
('Matthew Mccall', 'Chief Technology Officer')
('Michael Norman', 'Translator')
('Nicole Leblanc', 'Financial controller')
('Noah Delgado', 'Engineer, civil')
('Rachel Charles', 'Physicist, medical')
('Stephanie Petty', 'Architect')

Note that each key/value pair is returned as a tuple. A tuple is very similar to a Python list (some commands can be used as well); the difference is that a tuple cannot be modified. The technical term in Python is immutable. 

* A list is mutable (can be changed)
* A tuple is immutable (cannot be changed)

We can further distinguish between them by the fact that:

* A list uses hard brackets `[]`
* A tuple uses parentheses `()`.

We can create a new dictionary from the original dictionary using a for loop to iterate through the key/value pairs. The for loop format is similar to a list except we need to use an index to refer to the key or value of the tuple.

In [13]:
# Create a new dictionary that only contains the engineers 
# Using a for loop

engineer_contacts = {}
#empty dictionary

for ele in contacts.items():
    if 'Engineer' in ele[1]: #it checks the second element of each tuple (same as a list); we write in ele[0] because there are different types of engeneers
        engineer_contacts[ele[0]] = ele[1] #this is how we add the key value pair to a dictionary
    
print(engineer_contacts)

{'Amanda Bennett': 'Engineer, electrical', 'Noah Delgado': 'Engineer, civil'}

In [14]:
# Use index to access the elements in a tuple

person = ("John Doe", "Engineer, mechanical")
person[0]

'John Doe'

In [9]:
# A quick reminder of how to add key/value pairs to a dictionary

grades = {'John': 90, 'Mary': 95}
grades['Sue'] = 98
print(grades)

{'John': 90, 'Mary': 95, 'Sue': 98}

In [11]:
# Use a dictionary comprehension to iterate through the (key, value) tuples of the items in a dictionary
# Add each key:value pair to a new dictionary engineer_contacts

engineer_contacts = {ele[0]:ele[1] for ele in contacts.items() if 'Engineer' in ele[1]} #ele[0]:ele[1] is the key value pair
from pprint import pprint
pprint(engineer_contacts)

{'Amanda Bennett': 'Engineer, electrical', 'Noah Delgado': 'Engineer, civil'}

Instead of using indices with each tuple, we can also give variable names to the keys and values respectively.

In [15]:
# Use key/value variable names for each tuple
# For loop example

engineer_contacts = {} 

for (name, occupation) in contacts.items(): 
    if 'Engineer' in occupation:
        engineer_contacts[name] = occupation

pprint(engineer_contacts)

{'Amanda Bennett': 'Engineer, electrical', 'Noah Delgado': 'Engineer, civil'}

Note that when we assign the keys and values to the two variables `name` and `occupation`, we use parentheses to indicate that each pair is a tuple. However, the parentheses are not obligatory. You can remove them and the code will still work.

In [16]:
# Using key/value variable names for each tuple
# Dictionary comprehension example

engineer_contacts = {name : occupation for (name, occupation) in contacts.items() if 'Engineer' in occupation}
pprint(engineer_contacts)

{'Amanda Bennett': 'Engineer, electrical', 'Noah Delgado': 'Engineer, civil'}

In the section on list comrehensions, we saw that we can use list comprehensions to create a list from any kind of iterables. The same is true for dictionary comprehensions. We can use dictionary comprehensions to create a new dictionary based on any kind of iterables, not necessarily an old dictionary.

In [17]:
# Create a dictionary based on a list of word strings
# where keys are the words and values are the lengths of the words
# for loop example

words = ['more', 'is', 'said', 'than', 'done']

word_length = {}

for w in words:
    word_length[w] = len(w)
    
print(word_length)

{'more': 4, 'is': 2, 'said': 4, 'than': 4, 'done': 4}

In [18]:
# Create a dictionary of word/word length pairs based on a list of word strings
# using a dictionary comprehension

word_length = {w : len(w) for w in words}
print(word_length)

{'more': 4, 'is': 2, 'said': 4, 'than': 4, 'done': 4}

<h3 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h3>

Suppose you are a grocery store owner. Due to the inflation, you have to raise prices by 15%. In ```store_prices``` are the items and their original price. Use a dictionary comprehension to create a new dictionary with the new price.

Hint: You can round a number to two decimal places using the `round()` function. The first argument is the number to be rounded; the second argument is the level of precision. In this case, two decimal places.

In [19]:
round(3.1415926, 2)

3.14

In [23]:
#MY CODE
store_prices = {
    "milk": 3.49,
    "egg": 5.29,
    "bread": 2.99,
    "spinach": 1.99,
    "lettuce": 2.35,
    "banana": 0.99
}

inflated_prices = {}
for product, price in store_prices.items():
    inflated_prices[product] = round(price + (price*0.15), 2)

pprint(inflated_prices)

{'banana': 1.14,
 'bread': 3.44,
 'egg': 6.08,
 'lettuce': 2.7,
 'milk': 4.01,
 'spinach': 2.29}

In [29]:
inflated_prices = { product : round((price + (price*0.15)), 2) for (product, price) in store_prices.items()}

pprint(inflated_prices)

{'banana': 1.14,
 'bread': 3.44,
 'egg': 6.08,
 'lettuce': 2.7,
 'milk': 4.01,
 'spinach': 2.29}

In [34]:
# Create a new dictionary where all prices are 15% higher
store_prices = {
    "milk": 3.49,
    "egg": 5.29,
    "bread": 2.99,
    "spinach": 1.99,
    "lettuce": 2.35,
    "banana": 0.99
}

inflated_prices = {} #create an empty dictionary

for (produce, price) in store_prices.items():
    new_price = price + (0.15 * price)
    inflated_prices[produce] = round(new_price, 2) #this indicates that we are using the produce as the key and assigning the new value as the value in the new dictionary
pprint(inflated_prices)

{'banana': 1.14,
 'bread': 3.44,
 'egg': 6.08,
 'lettuce': 2.7,
 'milk': 4.01,
 'spinach': 2.29}

In [32]:
# Create a new dictionary where all prices are 15% higher
store_prices = {
    "milk": 3.49,
    "egg": 5.29,
    "bread": 2.99,
    "spinach": 1.99,
    "lettuce": 2.35,
    "banana": 0.99
}

inflated_prices = { produce : round((price + (0.15 * price)) , 2) for (produce, price) in store_prices.items() }

pprint(inflated_prices)

{'banana': 1.14,
 'bread': 3.44,
 'egg': 6.08,
 'lettuce': 2.7,
 'milk': 4.01,
 'spinach': 2.29}

## Set comprehension

Sets in Python are written with curly braces. Curly braces `{}` are used for both dictionaries and sets in Python. Which one is created depends on whether we supply the associated value or not. We can use the `type()` function to discover what kind of object a variable is.

In [30]:
# Demonstrating a set
# One data entry per comma in curly braces

test_set = {1, 2, 3}
type(test_set)

set

In [31]:
# Demonstrating a dictionary
# Two data entries separated by a colon per each comma in curly braces

test_dict = {1 : 'apple', 2 : 'banana', 3 : 'cherry'}
type(test_dict)

dict

To create an empty set, we use the `set()` function. By default, empty curly braces will create an empty dictionary.

In [32]:
# Demonstrating creation of empty dict vs empty set

test_set = set()
test_dict = {}

print(f'test_set is a {type(test_set)}')
print(f'test_dict is a {type(test_dict)}')

test_set is a <class 'set'>
test_dict is a <class 'dict'>

In [33]:
# Using a for loop with a set

set1 = {5, 6, 7, 8, 9}
set2 = set() ## note how we initialize an empty set
for num in set1:
    if num > 5:
        set2.add(num) # note how we add a new element to a set
print(set2)

{8, 9, 6, 7}

In [34]:
# Using a set comprehension

set2 = {num for num in set1 if num > 5}
print(set2)

{8, 9, 6, 7}

A set is an unordered collection of distinct objects. If you change the order of the elements or list an element more than once, that does not change the set.

In [35]:
# Using a comparison operator on two sets
# Same elements in different order

{1,2} == {2,1}

True

In [36]:
# Using a comparison operator on two sets
# Repeated elements in a set

{1,1,2} == {1,2}

True

In [38]:
# Printing a set with duplicates
# Duplicates are removed automatically

print({1, 1, 2})

{1, 2}

Again, we can use set comprehensions to create a new set based on any kind of iterables that have been defined.

In [41]:
# Create a new set containing only the names from the dictionary of contacts

names = {name for name in contacts}

pprint(names)

{'Amanda Bennett',
 'Bryan Miller',
 'Christopher Garrison',
 'Debra Allen',
 'Donna Decker',
 'Heather Bullock',
 'Jason Brown',
 'Jason Soto',
 'Marissa Munoz',
 'Matthew Mccall',
 'Michael Norman',
 'Nicole Leblanc',
 'Noah Delgado',
 'Rachel Charles',
 'Stephanie Petty'}

<h3 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h3>

![An illustration of a wordle game](https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/wordle.png)

In the game [Wordle](https://www.nytimes.com/games/wordle/index.html), players must guess a five letter word in six guesses or less. A player is told if the letters in their guess are found in the word and if they are in the correct spot for the answer.

On their first guess, a player discovers that the 3rd letter is "I" and the 4th letter is "S". If they have the set of all possible words, they could narrow down their guesses.

Assume the `words` set contains a set of all possible words, can you write a set comprehension that will generate a set of all possible solutions?

As an extra challenge, write additional set comprehensions to eliminate answers that contain the letters "P", "R", or "M".

In [56]:
# Write a set comprehension that creates a set of potential answers

words = {'carbon',
         'monkey',
         'rabbit',
         'theory',
         'grist',
         'farmer',
         'pillow',
         'exist',
         'frisk',
         'harbor',
         'prism',
         'egist'
        }
possible_words = set()
for word in words:
    if word[2] == "i" and word[3] == "s":
        possible_words.add(word)
print(possible_words)

{'frisk', 'egist', 'grist', 'prism', 'exist'}

In [57]:
possible_words = { word for word in words if word[2] == "i" and word[3] == "s"}
print(possible_words)

{'frisk', 'egist', 'grist', 'prism', 'exist'}

In [58]:
possible_words = set()
for word in words:
    while "p" not in word and "r" not in word and "m" not in word:
        if word[2] == "i" and word[3] == "s":
            possible_words.add(word)
        break
            
print(possible_words)

{'egist', 'exist'}

In [59]:
possible_words = set()
for word in words:
    if "p" not in word and "r" not in word and "m" not in word:
        if word[2] == "i" and word[3] == "s":
            possible_words.add(word)
            
print(possible_words)

{'egist', 'exist'}

___
## Lesson Complete

Congratulations! You have completed *Python Intermediate 1*.

### Start Next Lesson: [Python Intermediate 2](./python-intermediate-2.ipynb)

### Exercise Solutions
Here are a few solutions for exercises in this lesson.

In [ ]:
# Creating a new list odd_num from odd numbers
# Using a list comprehension

numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

odd_num = [number for number in numbers if number % 2 == 1]
print(odd_num)

In [ ]:
# Create a new list that only includes first names
# Using a list comprehension

people = ['Aaron Aston',
         'Brianna Barton',
         'Carla Cameron',
         'Delia Darcy',
         'Evelyn Elgin',
         'Frederick Federov',
         'Gaston Garbo']

friends = [name.split()[0] for name in people]

print(friends)

In [ ]:
# Create a list that only contains the names that start with the letter 'A'
# Using a for loop
names = [
    ['Abby', 'Bella','Cecilia'],
    ['Alex','Beatrice','Cynthia','David']
]

a_name = []
for sublist in names:
    for name in sublist:
        if name[0] == 'A':
            a_name.append(name)
print(a_name)

In [ ]:
# Create a list that only contains the names that start with the letter 'A'
# Using a list comprehension

a_name = [name for sublist in names for name in sublist if name[0] == 'A']
print(a_name)

In [ ]:
# Create a new dictionary where all prices are 15% higher
store_prices = {
    "milk": 3.49,
    "egg": 5.29,
    "bread": 2.99,
    "spinach": 1.99,
    "lettuce": 2.35,
    "banana": 0.99
}

new_prices = {item : round(price * 1.15, 2) for (item, price) in store_prices.items()}
pprint(new_prices)

In [ ]:
# Write a set comprehension that creates a set of potential answers

words = {'carbon',
         'monkey',
         'rabbit',
         'theory',
         'grist',
         'farmer',
         'pillow',
         'exist',
         'frisk',
         'harbor',
         'prism'
        }

answers = {word for word in words if word[2] == 'i' and word[3] == 's'}         
print(answers)

In [ ]:
# Write additional set comprehensions to eliminate answers that contain the letters "P", "R", or "M"

answers = {word for word in answers if 'p' not in word and 'r' not in word and 'm' not in word}
print(answers)